
header{

    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    background-color:white;
}

header div {
    display: flex;
    justify-items:center;
    align-self: center;
}

header nav {
    display: flex;
    align-content: center;
}

header nav ul {
    display: flex;
    align-content: center;

}

header nav ul li {
    list-style-type: none;
    padding: 10px;
    height: 20%;
    display: flex;
    align-content: center;
    border-bottom: 5px solid transparent;
}

header nav ul li:hover {
    border-bottom: solid #00B050;
    overflow:hidden;
}

header nav ul li:active {
    border-bottom: solid #00B050;
    overflow:hidden;
}

@media(max-width: 600px){
    .brand {
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}

@media(min-width: 600px){
    .brand {
        margin-left: 5%;
    }
}

a {
    text-decoration: none;
    color: black;
}

li a:active {
    text-decoration: none;
    color: black;
    border-bottom: solid #00B050;
}