

main {
    background-color: #E7E7E7;
    height: 60vh;
    width: 100vw;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.containter {
    display: grid;
    grid-template-rows: 1fr 6fr 4fr;
    justify-content: left;
}

.controle {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 10px;
}

